body{
    background-color: white;
}
.tasksHome{
    width: 100%;
    height: 100vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    position: static;
    overflow: hidden;
}
.categoriesPanel{
    background-color: white;
    filter: brightness(0.95);
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow-x: hidden;
    box-shadow: 20px 0px 25px 0px rgba(128, 128, 128, 0.26);
    z-index: 7;
}
.categoriesPanel::before{
    content: 'Categories';
    display: flex;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.categoriesPanel > button{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
}
.categoriesPanel > button > img{
    width: 20px;
}
.categoriesPanel > .categoryLink{
    display: flex;
    width: 100%;
    background-color: white;
    padding-left: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
    color: black
}
.categoriesPanel > .categoryLink > div{
    width: 100%;
}
.categoriesPanel > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    font-size: 28px;
    background-color: var(--principal-color);
    cursor: pointer;
}
.tasksDisplay > header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 6;
    box-shadow: 0px 7px 10px 0px #f3f3f385;
}
.tasksDisplay > header > h1::first-letter{
    text-transform: uppercase;
}
.tasksDisplay > header > button{
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 30px;
}
.tasksDisplay > header > button > img{
    width: 100%;
}
.tasksList{
    max-width: 100%;
    max-height: 100vh;
    justify-content: center;
    display: block;
    overflow-x: hidden;
    padding: 18px;
}
.tasksList > div{
    display: inline-grid;
    grid-template-rows: 40px 1fr;
    min-width: 130px;
    max-width: 170px;
    background-color: var(--task-color);
    margin: 10px;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.tasksList > div:active{
    transform: scale(1.1);
    opacity: 0;
    animation: openTaskDisplay2 0.1s ease;
}
.tasksList > div > p{
    width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4em;
    font-weight: bold;
}
.tasksList > div > section{
    margin-top: 3px;
    font-size: 1.2em;
}
.newTaskBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 66px;
    right: 40px;
    background: var(--principal-color);
    width: 65px;
    height: 65px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #80808012, 0px 0px 7px 0px #00000012;
}
.newTaskBtn > img{
    width: 60%;
    filter: invert(1);
}
.taskEditDisplay{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--task-color);
    animation: openDisplay 0.1s ease-out;
    overflow: visible;
}
.taskEditDisplay::after{
    content: '';
    background-color: var(--task-color);
    width: 100%;
    height: 20%;
    position: absolute;
    transform: translateY(99.7%);
    display: block;
    bottom: 0;
}
.taskEditDisplay > button{
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    height: 70px;
    margin-left: 24px;
}
.taskEditDisplay > header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    background-color: transparent;
    box-shadow: 0px 5px 10px 0px #00000014;
}
.taskEditDisplay > header > input{
    border: none;
    font-size: 27px;
    margin-left: 115px;
    margin-right: 15px;
    background-color: transparent;
    max-width: 46%;
    font-weight: bold;
}
.taskEditDisplay > header > button{
    border: none;
    border-radius: 5px;
    background: var(--task-color);
    font-size: 20px;
    padding: 7px;
    filter: brightness(0.8);
}
.taskEditDisplay > section{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.taskEditDisplay > section > textarea{
    width: 90%;
    height: 70%;
    border: none;
    resize: none;
    font-size: 18px;
    background-color: transparent;
    overflow-y: scroll;
}
.taskEditDisplay > div{
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;

}
.taskEditDisplay > div > .selColorTaskBtn{
    background-color: transparent;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    margin: 10px;
    margin-left: 10px;
}
.taskEditDisplay > div > .selColorTaskBtn::after{
    content: '';
    background-color: var(--task-color);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 5px;
    margin-left: 10px;
    border-radius: 100%;
}
.taskEditDisplay > div > .selColorTaskBtn > button{
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
}
.openTaskDisplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--task-color);
    z-index: 8;
    left: 0;
    animation: openDisplay 0.1s ease-out;
    overflow: hidden;
}
.openTaskDisplay > header{
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.openTaskDisplay > header > h1{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 2.3em;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.openTaskDisplay > header > button{
    width: 40px;
    background-color: transparent;
    border: none;
    position: fixed;
    right: 25px;
    top: 40px;
}
.openTaskDisplay > header > button > img{
    width: 65%;
}
.openTaskDisplay > textarea{
    max-width: 85%;
    max-height: 70%;
    min-width: 85%;
    min-height: 70%;
    resize: none;
    background-color: transparent;
    border: none;
    margin-left: 50%;
    margin-top: 40px;
    transform: translateX(-50%);
    font-size: 1.3em;
    overflow-y: scroll;
}
.openTaskDisplay > textarea:disabled{
    color: black;
}
.openTaskDisplay > button{
    position: absolute;
    bottom: 75px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 14px;
    border: none;
    background: black;
}
.openTaskDisplay > button > img{
    width: 50%;
    filter: invert(1);
}
.chooseColorDisplay{
    display: grid !important;
    place-content: center !important;
    grid-gap: 10px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -130%) scale(1) !important;
    width: 250px !important;
    height: 190px !important;
    grid-template-columns: repeat(3, 60px) !important;
    grid-template-rows: repeat(2, 60px) !important;
    z-index: 10 !important;
    background-color: white !important;
    border-radius: 20px !important;
    animation: openChooseColorDisplay 0.2s ease-out !important;
    animation-delay: 1000;
}
.chooseColorDisplay > button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 7px;
}
.newCategoryDisplay{
    position: absolute;
    background: rgba(255, 255, 255, 0.555);
    width: 100%;
    height: 100%;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: openDisplay 0.2s ease-out;
}
.newCategoryDisplay > button{
    width: 30px;
    opacity: .6;
    background: transparent;
    border: none;
    margin-right: auto;
    margin-left: 45px;
    margin-top: -150px;
}
.newCategoryDisplay > button > img{
    width: 100%;
}
.newCategoryDisplay > h1{
    font-size: 1.8em;
    margin-top: 15px;
    margin-bottom: 30px
}
.newCategoryDisplay > div > input{
    border: none;
    background: var(--principal-color);
    padding: 10px;
    font-size: 1.25em;
    color: black;
    border-radius: 10px
}
.newCategoryDisplay > div > button{
    border: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    display: block;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 7px
}

@keyframes openChooseColorDisplay {
    0%{opacity: 0; transform: translate(-50%, -130%) scale(0.98)}
    100%{opacity: 1; transform: translate(-50%, -130%) scale(1)}
}
@keyframes openDisplay {
    0%{opacity: 0; transform: scale(.98)}
    100%{opacity: 1; transform: scale(1)}
}
@keyframes openTaskDisplay2 {
    0%{opacity: 1; transform: scale(1)}
    100%{opacity: 0; transform: scale(1.1)}
}